@charset "UTF-8";

.company{
    width: 100%;
    min-height: 80vh;
    padding: 25px;
}

.company h1{
    margin-bottom: 10px;
}

.company svg{
    color: black;
}

.company svg:hover{
    color: #ffbb33;
}