@charset "UFT-8";

.newproject_container{
    width: 450px;
    margin: 0 auto;
    padding: 54px;
    min-height: 80vh;
}

.newproject_container h1{
    margin-bottom: 5px;
}

.newproject_container p{
    color: #7b7b7b;
}