@charset "UFT-8";

.project_container{
    width: 100%;
    min-height: 500px;
    padding: 20px;
}

.title_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.title_container a{
    border-radius: 5px;
}