@charset "UTF-8";

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 10px;
}

.list{
    
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 1em;
}

.item a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

.item a:hover{
    color: #FFBB33;
}

